@layer base {
  html {
    font-family: var(--font-space-mono);
    color: var(--font-color-dark)
  }

  hr {
    border: var(--border);
    margin-bottom: 1rem;
  }

  .x-axis path,
  .x-axis line {
    stroke: var(--font-color-dark);
  }

  .y-axis path,
  .y-axis line {
    stroke: var(--font-color-dark);
  }

}